.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.github

# Backend
control

# Un-used API Services
src/API
src/apiauth

# firebase
.firebase
firebase-debug.log
firebase.json
.firebaserc
src/firebase
