@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;700;900&display=swap');
* {
    border: none;
    font-family: 'lato', sans-serif;
    overflow-x: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /*remove scrollbar firefox*/
}


/* remove scrollbar google chrome */

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* link definitions */

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fbfbfb;
}

ul li a:hover {
    color: #f1b428;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

p {
    margin: 0;
    padding: 0 0 10px 0;
}


/* icon sizes */

.nav-icon {
    font-size: 1.3em;
}

.btn-secondary {
    border: none;
    border-color: transparent;
}


/* Color definitions */

.white {
    color: #fbfbfb;
}

.gray {
    color: #515758;
}

.black {
    color: #252122;
}

.yellow {
    color: #F1B428;
}

.white-bg {
    background-color: #fbfbfb;
}

.gray-bg {
    background-color: #515758;
}

.black-bg {
    background-color: #252122;
}

.yellow-bg {
    background-color: #F1B428;
}


/* text properties */

.bold {
    font-weight: 800;
}


/* shadow */

.theshadow {
    box-shadow: 0 6px 14px rgba(0, 0, 0, .06);
}


/* Body layout */

.section,
.section-v {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 99;
}

.section-v {
    width: 100vw;
    height: 100vh;
}

.centercomp {
    transform: translateY(36vh);
}


/* Elements */

.white-bg-circle {
    background-image: url('../assets/svg/reachout.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 20em 0;
    z-index: 1200;
    position: relative;
}

.black-bg-circle {
    background-image: url('../assets/svg/reachout-black.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 20em 0;
    z-index: 1200;
    position: relative;
}


/* live Chat */

.live-chat {
    position: fixed;
    padding: 20em;
    margin: 20em;
    z-index: 999999;
}