@import url('http://fonts.cdnfonts.com/css/gotham');
* {
    border: none;
    font-family: 'gotham', sans-serif;
    overflow-x: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /*remove scrollbar firefox*/
}


/* remove scrollbar google chrome */

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* link definitions */

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fbfbfb;
}

ul li a:hover {
    color: #f1b428;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

p {
    margin: 0;
    padding: 0 0 10px 0;
}


/* icon sizes */

.nav-icon {
    font-size: 1.3em;
}

.btn-secondary {
    border: none;
    border-color: transparent;
}


/* Color definitions */

.white {
    color: #fbfbfb;
}

.gray {
    color: #a6a6a6;
}

.blue {
    color: #0A79FF;
}

.lightblue {
    color: #00B5E2;
}

.deepblue {
    color: #041E42;
}

.yellow {
    color: #F1B428;
}

.bluegrad-bg {
    background-image: linear-gradient(38deg, #041E42, #0A79FF);
}

.white-bg {
    background-color: #fbfbfb;
}

.gray-bg {
    background-color: #a6a6a6;
}

.blue-bg {
    background-color: #0A79FF;
}

.lightblue-bg {
    background-color: #00B5E2;
}

.deepblue-bg {
    background-color: #041E42;
}

.yellow-bg {
    background-color: #F1B428;
}


/* text properties */

.bold {
    font-weight: 800;
}


/* shadow */

.theshadow {
    box-shadow: 0 6px 14px rgba(0, 0, 0, .06);
}


/* Body layout */

.section,
.section-v {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 99;
}

.section-v {
    width: 100vw;
    height: 100vh;
}

.centercomp {
    transform: translateY(36vh);
}


/* Elements */

.brand-logo {
    position: relative;
    z-index: 9999;
    width: 118px;
    height: 56px;
}

.brand-logo-m {
    width: 53.35px;
    height: 35px;
}

.footer-logo {
    width: 422px;
    height: 200px;
}

.social-link {
    width: 40px;
    height: 40px;
}


/* .white-bg-circle {
    background-image: url('../assets/svg/reachout.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 20em 0;
    z-index: 1200;
    position: relative;
}

.black-bg-circle {
    background-image: url('../assets/svg/reachout-black.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 20em 0;
    z-index: 1200;
    position: relative;
} */


/* live Chat */

.live-chat {
    position: fixed;
    padding: 20em;
    margin: 20em;
    z-index: 999999;
}