@media screen and (max-width:1920px) {
    .section {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:1400px) {
    .section {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:1200px) {
    .section {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:1024px) {
    .card-icon {
        font-size: 3.8em;
    }
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .section,
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .brand-logo-m {
        width: 53.35px;
        height: 35px;
    }
    .footer-logo {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width:780px) {
    p {
        margin: 0;
        padding: 0 0 30px 0;
    }
    .section,
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .brand-logo-m {
        width: 53.35px;
        height: 35px;
    }
    .footer-logo {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width:480px) {
    p {
        margin: 0;
        padding: 0 0 20px 0;
    }
    .section,
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .brand-logo-m {
        width: 53.35px;
        height: 35px;
    }
    .footer-logo {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width:420px) {
    p {
        margin: 0;
        padding: 0 0 10px 0;
    }
    .section,
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .brand-logo-m {
        width: 53.35px;
        height: 35px;
    }
    .footer-logo {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width:380px) {
    p {
        margin: 0;
        padding: 0 0 20px 0;
    }
    .section,
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .brand-logo-m {
        width: 53.35px;
        height: 35px;
    }
    .footer-logo {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width:320px) {
    p {
        margin: 0;
        padding: 0 0 18px 0;
    }
    .section,
    .section-v {
        width: 100vw;
        height: 100vh;
    }
    .brand-logo-m {
        width: 53.35px;
        height: 35px;
    }
    .footer-logo {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width: 320px) and (max-width: 480px) and (max-width: 780px) and (max-width: 1024px) {}